# Database
DATABASE_URL="postgresql://user:password@localhost:5432/budhan_db"

# Authentication
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"

# Logging (optional)
LOG_LEVEL="info"
NODE_ENV="development"
